.navbar li {
	display: inline-block;
	text-align: center;
}

.item1 {
	width: 20%;
}

.item2 {
	width: 60%;
}  

.item3 {
	width: 20%;
}

.navbar {
	background: rgb(185, 133, 64);
}

li {
	color: black;
	padding: 5px 0 ;
}

body {
	font-size: 25px;
  }
  
ul {
	width: 100%;
}


